   
#div_download #container{
  display:none;
}

   #ad_base{
    height:250px;
    width:100%;
    /*background-color: #eee;*/
   }

   #ad_top{
    height:250px;
    width:100%;
    /*background-color: #eee;*/
   }

   #footer {
    position: fixed;
    bottom: 0;
    width: 99%;
    text-align:center;
    height:40px;
    line-height:35px;
    margin:5px;
    padding:5px;
    border-top:0 solid #CCC;
    color:#999;
   }

    #footer a {
    text-decoration:none;
    color:#999;
    }

    #footer a:hover {
      color: #e67a73;
    }


   .font{
      font-family: Verdana !important;
    }

    .menu{
      display:block;
    }

    .submenu {
      float:left;
      margin:10px 10px 10px 10px;
      padding:5px 20px 5px 5px;
      border-right:5px solid #ccc;
    }


    #h2_title h2{
      color:#ccc !important;
    }

    .submenu h6{
      margin:0px;
      padding:0px;
      color:#ccc;
    }

    .submenu h6 a{
      text-decoration: none;
      color: #ccc;
    }

    .submenu h6 a:hover{
      text-decoration: none;
      color: #e67a73;
    }

    .formcase{
      border:0 solid green; 
      margin: 0 auto;
      padding:0;
      width:900px;
      padding:10px;
    }

    .form_center{
      border:0 solid green; 
      margin: 0 auto;
      padding:0;
      width:100%;
      margin: 0 auto;
    }

.mydrop {
  box-shadow:inset 0px 0px 0px 0px #e67a73;
  background-color:#ffffff;
  border-radius:5px;
  display:inline-block;
  color:#999999;
  font-family:Verdana;
  font-size:16px;
  padding:10px 10px;
  text-decoration:none;
  margin:2px;
  width:100px;
  height:50px;
  line-height:28px;
  margin:10px;
}


.mytext {
  box-shadow:inset 0px 0px 0px 0px #e67a73;
  background-color:#ffffff;
  border-radius:5px;
  display:inline-block;
  color:#999999;
  font-family:Verdana;
  font-size:16px;
  padding:10px 10px;
  text-decoration:none;
  margin:2px;
  width:500px;
  height:50px;
  line-height:40px;
  margin:10px;
}

.mybutton {
  box-shadow:inset 1px 40px 0px -17px #e67a73;
  background-color:#e4685d;
  border-radius:5px;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Verdana;
  font-size:16px;
  padding:14px 70px;
  text-decoration:none;
  margin:10px;
}
.myButton:hover {
  background-color:#eb675e;
}
.myButton:active {
  position:relative;
  top:1px;
}


#bar {
width:30px;
height:30px;
line-height:0;
padding:0;
margin:0;

}
#sub_info{
line-height:50px;
height:50px;
padding:0;
margin:0;
}